@font-face src: url(https://assets.codepen.io/4291733/SemplicitaPro-Medium.woff2) {
  font-family: SemplicitaPro;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#app {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 36px;
  background: #efefef;
}
#app .Synth {
  width: 320px;
}
#app .Synth .preset, #app .Synth .key {
  cursor: pointer;
}
#app .Synth .st0 {
  fill: #ffa6f7;
  stroke: #892276;
  stroke-miterlimit: 10;
}
#app .Synth .st1 {
  fill: #892276;
}
#app .Synth .st2 {
  fill: #ff79e6;
}
#app .Synth .st3 {
  fill: white;
  stroke: #892276;
  stroke-miterlimit: 10;
}
#app .Synth .st4 {
  fill: #ffe1f7;
}
#app .Synth .st5 {
  fill: #ffa6f7;
}
#app .Synth .st6 {
  fill: white;
}
#app .Synth .st7 {
  fill: #F993EA;
}
#app .Synth .st8 {
  fill: white;
  stroke: #ff79e6;
  stroke-miterlimit: 10;
}
#app .Synth .st9 {
  fill: #ff79e6;
  stroke: white;
  stroke-miterlimit: 10;
}